!!! 5
%html
  %head
    %script{src: '/scripts/jquery.js'}
    %script{src: '/scripts/bootstrap.js'}
    %script{src: '/scripts/main.js'}
    %script{src: '/scripts/game.js'}
    %script{src: '/scripts/sprite.js'}
    %link{rel: 'stylesheet', href: '/stylesheets/bootstrap.css'}
    %link{rel: 'stylesheet', href: '/stylesheets/main.css'}
    %link{rel: 'icon', type: 'image/gif', href: '/images/favicon.gif'}
    %title Mace Swinger 2: Return of the Playdoh

  %body
